
{% load static %}
  <nav class="bg-gray-800 px-6 py-4 shadow-lg flex justify-between items-center">
    <div class="flex items-center space-x-6">
      <span class="text-2xl font-bold text-green-400">Fingestor</span>
      <a href="/" class="text-white hover:text-green-400 transition">Início</a>
      <a href="/transacao" class="text-white hover:text-green-400 transition">Transações</a>
      <a href="/relatorios" class="text-white hover:text-green-400 transition">Relatórios</a>
      <a href="/custos" class="text-white hover:text-green-400 transition">Custos</a>
    </div>
    <div>
      <span class="text-sm text-gray-300">Olá, 
        <a href="/perfil">
          <strong>{{ user.nome }}</strong></span>
        </a>
    </div>
  </nav>
  